*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text-color: #665f73;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans";
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}
