@use "./mixins";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

@mixin cliptext($lineNumber: null) {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineNumber;
    overflow: hidden;
}

.header {
    position: sticky;
    top: -22px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 42px 0 20px 0;
    background: #fff8f3;

    @include mixins.breakpoint(lg) {
        top: 0;
        padding: 30px 0;
    }

    @include mixins.breakpoint(md) {
        padding: 20px 0;
    }
}

.top-bar {
    @extend %flexItemsCenter;
    justify-content: space-between;

    @include mixins.breakpoint(sm) {
        flex-direction: row-reverse;
    }

    &__more {
        display: none;

        @include mixins.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    @include mixins.breakpoint(lg) {
        display: none;
    }

    &__list {
        @extend %flexItemsCenter;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 8px;
        padding: 8px 24px;
        font-weight: 400;
        line-height: 175%;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 28px;

    @include mixins.breakpoint(sm) {
        display: none;
    }

    &__link {
        font-weight: 600;
        line-height: 175%;
        user-select: none;
        color: var(--secondary-color);
    }

    &__sign-in:hover {
        color: var(--primary-color);
    }

    &__sign-up {
        display: block;
        min-width: 116px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        border-radius: 6px;
        background: var(--secondary-color);

        &:hover {
            background: var(--primary-color);
        }
    }
}

.menu {
    &__mobile {
        display: none;

        @include mixins.breakpoint(lg) {
            display: block;
        }
    }

    &__overlay {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.25s;
    }

    &__mobile.active &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__drawer {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 75%;
        height: 100%;
        padding: 60px 0;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.5s;

        @include mixins.breakpoint(sm) {
            left: auto;
            right: 0;
            width: 100%;
            transform: translateX(100%);
        }
    }

    &__mobile.active &__drawer {
        transform: translateX(0);
    }

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
    }

    &__close-icon {
        width: 24px;
        color: #666;
    }

    &-act {
        margin-top: 24px;
        padding: 24px 24px 0 24px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        a {
            display: block;
            width: 160px;
            height: 48px;
            margin-top: 24px;
            line-height: 48px;
            border-radius: 8px;
            text-align: center;
            border: 1px solid var(--secondary-color);
            font-size: 1.4rem;
        }
    }
}

.hero {
    padding: 90px 0 140px 0;
    background: #fff8f3;

    @include mixins.breakpoint(lg) {
        padding: 60px 0;
    }

    @include mixins.breakpoint(sm) {
        padding: 22px 0 32px 0;
    }

    &__group-secondary &__thumb {
        padding: 0;
    }

    &__thumb {
        position: relative;
        padding-bottom: 30px;

        @include mixins.breakpoint(sm) {
            padding-bottom: 18px;
        }

        &-content {
            position: absolute;
            left: 38px;
            bottom: 16px;
            width: calc(100% - 38px * 2);
            padding: 14px;
            text-align: center;
            border-radius: 9px;
            backdrop-filter: blur(5px);
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.07);

            @include mixins.breakpoint(sm) {
                left: 22px;
                bottom: 10px;
                width: calc(100% - 22px * 2);
                padding: 8px;
            }
        }

        &-title {
            color: var(--secondary-color);
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1;

            @include mixins.breakpoint(sm) {
                font-size: 0.8306rem;
            }
        }

        &-desc {
            margin-top: 6px;
            color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1;

            @include mixins.breakpoint(sm) {
                margin-top: 4px;
                font-size: 0.7119rem;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 302px;
        object-fit: cover;
        border-radius: 8px;

        @include mixins.breakpoint(sm) {
            height: 180px;
        }
    }

    &__play {
        position: absolute;
        bottom: 0;
        left: 50%;
        @extend %flexItemsCenter;
        justify-content: center;
        gap: 12px;
        width: calc(100% - 38px * 2);
        height: 60px;
        padding: 16px 20px;
        transform: translateX(-50%);
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 12px 44px 0px rgba(32, 24, 48, 0.07);
        cursor: pointer;

        @include mixins.breakpoint(sm) {
            gap: 8px;
            width: calc(100% - 22px * 2);
            height: 36px;
        }

        img:first-child {
            height: 15px;
        }

        img:last-child {
            @include mixins.breakpoint(sm) {
                height: 15px;
            }
        }
    }

    &__heading {
        margin-top: 18px;
        color: var(--secondary-color);
        font-size: 7rem;
        font-weight: 700;
        line-height: 114.286%;

        @include mixins.breakpoint(xl) {
            font-size: 6rem;
        }

        @include mixins.breakpoint(sm) {
            margin-top: 40px;
            font-size: 3.6rem;
        }

        .underline::after {
            bottom: -10px;
            width: 328px;
            height: 38px;

            @include mixins.breakpoint(sm) {
                width: 200px;
            }
        }
    }

    &__desc {
        margin-top: 20px;
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 166.667%;

        @include mixins.breakpoint(sm) {
            margin-top: 12px;
            font-size: 1.4rem;
        }
    }

    &__act {
        @extend %flexItemsCenter;
        gap: 28px;
        margin-top: 40px;

        &-play {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--secondary-color);
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 166.667%;
            cursor: pointer;
            transition: color 0.25s;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

.podcast {
    margin-top: 24px;

    @include mixins.breakpoint(sm) {
        margin-top: 12px;
    }

    &__title {
        color: var(--secondary-color);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 171.429%;

        @include mixins.breakpoint(sm) {
            font-size: 0.8306rem;
        }
    }

    &__images {
        display: flex;
        margin-top: 10px;

        @include mixins.breakpoint(sm) {
            margin-top: 5px;
        }
    }

    &__img,
    &__qty {
        width: 48px;
        height: 48px;
        margin-left: -18px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;

        @include mixins.breakpoint(sm) {
            width: 28px;
            height: 28px;
            margin-left: -10px;
        }

        &:first-child {
            margin: 0;
        }
    }

    &__qty {
        @extend %flexItemsCenter;
        justify-content: center;
        background: var(--secondary-color);

        &-title {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 183.333%;

            @include mixins.breakpoint(sm) {
                font-size: 0.7119rem;
            }
        }
    }
}

.platform {
    position: relative;
    padding-bottom: 28px;

    @include mixins.breakpoint(sm) {
        padding-bottom: 16px;
    }

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        width: 45px;
        height: 36px;
        background: url(../icons/line-decor-01.svg) center center / contain no-repeat;

        @include mixins.breakpoint(sm) {
            width: 26px;
            height: 20px;
        }
    }

    &::before {
        top: 36px;
        left: 54px;

        @include mixins.breakpoint(sm) {
            top: 20px;
            left: 32px;
        }
    }

    &::after {
        bottom: 13px;
        right: 64px;

        @include mixins.breakpoint(xl) {
            right: 32px;
        }

        @include mixins.breakpoint(lg) {
            right: 104px;
            bottom: 24px;
        }

        @include mixins.breakpoint(md) {
            right: 38px;
            bottom: 8px;
        }
    }

    &__qty {
        @extend %flexItemsCenter;
        justify-content: center;
        width: 82px;
        height: 82px;
        margin: 8px 70px 0 118px;
        border-radius: 50%;
        background: #ff9051;

        @include mixins.breakpoint(sm) {
            width: 48px;
            height: 48px;
            margin: 4px 40px 8px 70px;
        }
    }

    &__title {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        text-align: center;

        @include mixins.breakpoint(sm) {
            font-size: 0.5933rem;
        }

        strong {
            display: block;
            margin-bottom: 4px;
            font-size: 1.4rem;
            font-weight: 800;

            @include mixins.breakpoint(sm) {
                font-size: 0.8306rem;
            }
        }
    }

    &__images {
        @extend %flexItemsCenter;
        gap: 18px;
        margin-top: 12px;
    }

    &__img {
        @include mixins.breakpoint(sm) {
            width: 16px;
        }
    }
}

.podcasts {
    padding: 160px 0 80px 0;

    @include mixins.breakpoint(sm) {
        padding: 100px 0 50px 0;
    }

    &__inner {
        @include mixins.breakpoint(lg) {
            flex-direction: column-reverse;
        }
    }

    &__content {
        @include mixins.breakpoint(lg) {
            margin-top: 48px;
        }
    }

    .underline::after {
        bottom: -5px;
        width: 236px;
        height: 30px;

        @include mixins.breakpoint(sm) {
            bottom: 0;
            width: 146px;
        }
    }

    &__btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 38px;

        @include mixins.breakpoint(sm) {
            margin-top: 28px;
        }
    }

    &__list {
        position: relative;
        height: 399px;

        @include mixins.breakpoint(sm) {
            height: 238px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 287px;
            height: 287px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            opacity: 0.4;
            filter: blur(129px);
            background: #ff9051;
        }
    }

    &__img {
        position: absolute;
        display: block;
    }

    &__img:first-child {
        top: 0;
        left: 185px;

        @include mixins.breakpoint(xxl) {
            left: 200px;
        }

        @include mixins.breakpoint(xl) {
            left: 120px;
            width: 120px;
        }

        @include mixins.breakpoint(lg) {
            left: 220px;
        }

        @include mixins.breakpoint(sm) {
            left: 110px;
            width: 89px;
        }
    }

    &__img:nth-child(2) {
        top: 59px;
        right: 0;

        @include mixins.breakpoint(xl) {
            width: 100px;
        }

        @include mixins.breakpoint(sm) {
            top: 35px;
            width: 58px;
        }
    }

    &__img:nth-child(3) {
        top: 221px;
        right: 48px;

        @include mixins.breakpoint(xl) {
            width: 100px;
        }

        @include mixins.breakpoint(lg) {
            top: 242px;
            right: 120px;
        }

        @include mixins.breakpoint(sm) {
            top: auto;
            right: 28px;
            bottom: 24px;
            width: 82px;
        }
    }

    &__img:nth-child(4) {
        bottom: 0;
        left: 169px;

        @include mixins.breakpoint(xl) {
            left: 120px;
            width: 100px;
        }

        @include mixins.breakpoint(sm) {
            left: 101px;
            width: 75px;
        }
    }

    &__img:nth-child(5) {
        top: 164px;
        left: 0;

        @include mixins.breakpoint(sm) {
            top: 98px;
            width: 48px;
        }
    }
}

.category {
    padding: 80px 0 160px 0;

    @include mixins.breakpoint(sm) {
        padding: 50px 0 85px 0;
    }

    &__head {
        text-align: center;
    }

    .underline::after {
        bottom: -7px;
        width: 193px;
        height: 23px;

        @include mixins.breakpoint(sm) {
            bottom: -2px;
            width: 110px;
            height: 16px;
        }
    }

    &__desc {
        margin-left: auto;
        margin-right: auto;
    }

    &__body {
        margin-top: 70px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 285px);
        gap: 30px;

        @include mixins.breakpoint(lg) {
            gap: 24px;
        }

        @include mixins.breakpoint(md) {
            grid-template-rows: repeat(3, 285px);
            gap: 16px;
        }

        @include mixins.breakpoint(sm) {
            grid-template-rows: repeat(5, 285px);
        }
    }

    &__more {
        position: relative;
        left: 50%;
        margin-top: 55px;
        transform: translateX(-50%);

        @include mixins.breakpoint(sm) {
            margin-top: 38px;
        }
    }
}

.category-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    &:nth-child(1) {
        grid-column: span 4;
        grid-row: span 2;

        @include mixins.breakpoint(lg) {
            grid-column: span 8;
            grid-row: span 1;
        }

        @include mixins.breakpoint(md) {
            grid-column: span 12;
        }
    }

    &:nth-child(2) {
        grid-column: span 5;
        grid-row: span 1;

        @include mixins.breakpoint(lg) {
            grid-column: span 4;
            grid-row: span 1;
        }

        @include mixins.breakpoint(md) {
            grid-column: span 6;
        }

        @include mixins.breakpoint(sm) {
            grid-column: span 12;
        }
    }

    &:nth-child(3) {
        grid-column: span 3;
        grid-row: span 1;

        @include mixins.breakpoint(lg) {
            grid-column: span 4;
        }

        @include mixins.breakpoint(md) {
            grid-column: span 6;
        }

        @include mixins.breakpoint(sm) {
            grid-column: span 12;
        }
    }

    &:nth-child(4) {
        grid-column: span 3;
        grid-row: span 1;

        @include mixins.breakpoint(lg) {
            grid-column: span 4;
        }

        @include mixins.breakpoint(md) {
            grid-column: span 6;
        }

        @include mixins.breakpoint(sm) {
            grid-column: span 12;
        }
    }

    &:nth-child(5) {
        grid-column: span 5;
        grid-row: span 1;

        @include mixins.breakpoint(lg) {
            grid-column: span 4;
        }

        @include mixins.breakpoint(md) {
            grid-column: span 6;
        }

        @include mixins.breakpoint(sm) {
            grid-column: span 12;
        }
    }

    &__thumb {
        position: absolute;
        inset: 0;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale 0.6s;

        &:hover {
            scale: 1.1;
        }
    }

    &__body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px 24px;
        backdrop-filter: blur(10px);
    }

    &__title a {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 166.667%;
    }

    &__desc {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 171.429%;
    }
}

.episodes {
    padding: 100px 0;
    background: #fff8f3;

    @include mixins.breakpoint(sm) {
        padding: 70px 0;
    }

    &__head {
        @extend %flexItemsCenter;
        justify-content: space-between;
    }

    &__heading {
        width: 390px;

        @include mixins.breakpoint(sm) {
            width: 339px;
        }
    }

    &__head-more {
        @include mixins.breakpoint(sm) {
            display: none;
        }

        &--rp {
            @include mixins.breakpoint(xxl) {
                display: none;
            }

            @include mixins.breakpoint(sm) {
                display: inline-block;
                margin-top: 38px;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 84px;

        @include mixins.breakpoint(lg) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 38px;
        }
    }

    &__dots {
        margin-top: 55px;

        @include mixins.breakpoint(sm) {
            margin-top: 18px;
        }
    }
}

.episode-item {
    @extend %flexItemsCenter;
    gap: 30px;

    @include mixins.breakpoint(sm) {
        gap: 20px;
    }

    &:nth-child(4n-1),
    &:nth-child(4n) {
        flex-direction: row-reverse;
    }

    @include mixins.breakpoint(sm) {
        &:nth-child(n + 2) {
            display: none;
        }
    }

    &__thumb,
    &__content {
        width: 50%;
    }

    &__thumb {
        border-radius: 8px;
        overflow: hidden;
    }

    &__img {
        display: block;
        width: 100%;
        height: 286px;
        object-fit: cover;
        border-radius: 8px;
        transition: scale 0.6s;

        @include mixins.breakpoint(sm) {
            height: 170px;
        }

        &:hover {
            scale: 1.1;
        }
    }

    &__info {
        color: #fd6f1f;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 171.429%;

        @include mixins.breakpoint(sm) {
            font-size: 1rem;
            line-height: 1;
        }
    }

    &__title {
        @include cliptext(2);

        display: block;
        margin-top: 6px;
        color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 700;
        line-height: 150%;
        transition: color 0.25s;

        @include mixins.breakpoint(sm) {
            font-size: 1.2rem;
        }

        &:hover {
            color: var(--primary-color);
        }
    }

    &__desc {
        @include cliptext(3);

        margin-top: 18px;
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 175%;

        @include mixins.breakpoint(sm) {
            margin-top: 12px;
            font-size: 1rem;
            line-height: 180%;
        }
    }

    &__btn {
        margin-top: 11px;
        display: inline-flex;
        align-items: center;
        gap: 6px;
        color: var(--secondary-color);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 171.429%;
        transition: color 0.25s;

        @include mixins.breakpoint(sm) {
            margin-top: 7px;
            font-size: 1rem;
        }

        &:hover {
            color: var(--primary-color);
        }

        &-icon {
            width: 14px;

            @include mixins.breakpoint(sm) {
                width: 10px;
            }
        }
    }
}

.feedback {
    padding: 160px 0;

    @include mixins.breakpoint(sm) {
        padding: 100px 0;
    }

    &__heading {
        position: relative;
        padding-top: 53px;

        .underline::after {
            bottom: -4px;
            width: 182px;

            @include mixins.breakpoint(sm) {
                bottom: 0;
                width: 114px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 43px;
            height: 35px;
            background-image: url(../icons/quote.svg);
        }
    }

    &__dots {
        margin-left: 74px;
        transform: translateY(-100%);
        justify-content: flex-start;

        @include mixins.breakpoint(xl) {
            margin: 48px 0 0;
            transform: unset;
            justify-content: center;
        }

        @include mixins.breakpoint(sm) {
            margin-left: 0;
        }
    }
}

.feedback-item {
    &__inner {
        align-items: center;

        @include mixins.breakpoint(sm) {
            flex-direction: column-reverse;
            align-items: unset;
        }
    }

    &__media {
        position: relative;
        height: 444px;

        @include mixins.breakpoint(sm) {
            margin-top: 28px;
            height: 262px;
        }
    }

    &__img {
        position: absolute;
        object-fit: cover;
        border-radius: 8px;

        &-small {
            top: 80px;
            left: 0;
            z-index: 1;
            width: 270px;
            height: 284px;

            @include mixins.breakpoint(sm) {
                top: 47px;
                width: 160px;
                height: 168px;
            }
        }

        &-large {
            top: 0;
            right: 0;
            width: 370px;
            height: 100%;

            @include mixins.breakpoint(lg) {
                width: 320px;
            }

            @include mixins.breakpoint(sm) {
                width: 218px;
            }
        }
    }

    &__quote {
        @include cliptext(4);

        margin-top: 38px;
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 175%;
    }

    &__author {
        margin-top: 18px;
        color: #aba6b5;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 171.429%;
    }
}
